.home {
  font-size: 15px;
  h1 {
    text-align: center;
    padding: 20px;
  }
  .cards {
    padding: 40px;
    line-height: normal;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
  }
}
