.semester {
  text-align: center;
  width: 55%;
  margin-right: 2%;
  float: left;
  margin-top: 5%;
  .droppable {
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    min-height: 450px;
    width: 250px;
  }
  .droppableCourses {
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    min-height: 1500px;
    width: 230px;
  }
  .split {
    float: left;
    .left {
      position: absolute;
      margin-left: 2%;
      width: 10%;
      height: 100%;
      color: black;
    }
    .right {
      margin-left: 40%;
      width: 140%;
    }
  }
  .draggable {
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 10px 10px 10px 20px;
    width: 75%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.85);
    color: black;
  }
}
